.h1 {
  font-size: 32px !important;
}

.h2 {
  font-size: 28px !important;
}

.h3 {
  font-size: 24px !important;
}

.h4 {
  font-size: 20px !important;
}

.h5 {
  font-size: 16px !important;
}

.h6 {
  font-size: 12px !important;
}

button {
  font-size: 14px !important;
}

.App {
  text-align: center;
  font-size: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
